KIRA_API_URL=https://cliente.monofloor.cloud/api
GITHUB_TOKEN=ghp_seu_token_aqui
GITHUB_REPO=vitormonofloor/Monofloor_Files
GITHUB_FILE=indicadores.html
TELEGRAM_BOT_TOKEN=8685770674:AAGAyiWrB9nDYCd-kmN8aC5otnRmCknOx2U
VITOR_CHAT_ID=8151246424
INTERVALO_HORAS=6
